# Ignorar archivos de compilación
target/
*.class
*.jar
*.war
*.ear

# Ignorar archivos de IDE
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# Ignorar archivos de Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Ignorar logs
*.log

# Ignorar archivos de OS
.DS_Store
Thumbs.db

# Ignorar archivos de generación de código
target/generated-sources/
